<!DOCTYPE >
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FariDin</title>
    <link href="css/cafee.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- begin #container -->
<div id="container">
    <!-- begin #header -->
    <div id="header">
        <div class="headerTop">
            <div class="menu">
                <ul>
                    <li id="index.html"><a href="">Басты бет</a></li>
                    <li><a href="cafe.html"> Кафе туралы</a></li>
                    <li><a href="menu.html">Суреттер</a></li>
                    <li><a href="https://vk.com/im">Байланысу</a></li>
                    <li><a href="">Мекен-жайымыз</a></li>
                    </li>
                </ul>
            </div>
            <div class="icons">
                <ul class="icons">
                    <li><a href="https://twitter.com/?lang=ru"><img src="images/twitter.png" alt="" /></a></li>
                    <li><a href="https://del.icio.us/"><img src="images/delicious.png" alt="" /></a></li>
                    <li><a href="https://www.facebook.com/"><img src="images/facebook.png" alt="" /></a></li>
                    <li><a href="https://thefeed.com/"><img src="images/feed.png" alt="" /></a></li>
                    <li><a href=""><img src="images/flickr.png" alt="" /></a></li>
                    <li><a href=""><img src="images/linkedin.png" alt="" /></a></li>
                    <li><a href=""><img src="images/myspace.png" alt="" /></a></li>
                    <li><a href=""><img src="images/stumble.png" alt="" /></a></li>
                </ul>
            </div>
            <div class="clearfloat"></div>

    <!-- end #header -->
    <!-- begin #sidebar1 -->
    <div id="sidebar1">
        <div class="picBox">
            <div class="picBoxImage"><img src="images/111.jpg" width="200" height="300" alt="" /></div>


            <div class="clearfloat"></div>
        </div>
        <div class="picBox">
            <div class="clearfloat"></div>
        </div>
    </div>
    <!-- end #sidebar1 -->
    <!-- begin #mainContent -->
    <div id="mainContent">
        <h1>ФариДин суши кафесі туралы</h1>
        <br>
        <br /><br />
          ФариДин кафесі 2017 жылдың 1-ші қыркүйек айында негізін қалаған. 2016 жылы жоспарлап, оны қазіргідей дәрежеге жеткізген кафенің директорлары Халамханқызы Фариза және Карабалаева Динара.<br />
        <br /> ФариДин кафесі сіздерге тек қана сапалылық бермейді, сонымен қоса сіздерге зор сенімділік пен өмірге деген сәттілік алып келеді!<br />
        <br /> Біз өзгеруден қорықпаймыз. Әрқашан жаңарып, тәжірибе алмасып, таң қалдырудан жалықпаймыз! Және де біз әлемдік деңгейдегі адамдардың қауіпсіздігін қамтамасыз ететін бірегей кафе ретінде танымалмыз.<br /><br />
        <br></br>Қазірдің өзінде әлемдік деңгейдегі 10 мемлекеттің әйгілі суши ресторандарымен тәжірибе алмасып, біліктілікті жаңарту үстіндеміз.<br></br>
        </p>


    </div>
    <!-- end #mainContent -->
    <!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats --><br class="clearfloat" />
    <!-- begin #footer -->
    <div id="footer">
        <p>
            Terms of Use | <a title="This page validates as XHTML 1.0 Strict" href="http://validator.w3.org/check/referer" class="footerLink"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> |
            <a title="This page validates as CSS" href="http://jigsaw.w3.org/css-validator/check/referer" class="footerLink"><abbr title="Cascading Style Sheets">CSS</abbr></a>  |  Copyright &copy; Private Pilates Club. Design by <a href="http://www.fbpager.com">Free Facebook Templates</a>.
        </p>
    </div>
    <!-- end #footer -->
</div>
<!-- end #container -->
</body>
</html>
