{% extends "base_generic.html" %}

{% block content %}

  <h1>SPONSOR: {{ sponsor.sponsor_name }}, {{ sponsor.sponsor_kala }} </h1>
  </n>{{sponsor.zakaz_product}}
  <div style="margin-left:20px;margin-top:20px"><img src="../images/IMG_2390.JPG" align="right" width="450" height="300" >
  <p><strong>SPISOKMENU:</strong> {{ spisokmenu.sushiname }}</p>

  <p><strong>sponsor_kala:</strong> <a href="">{{ sponsor.sponsor_kala }}</a></p>
  <p><strong>sponsor_name:</strong> <a href="">{{ sponsor.sponsor_name }}</a></p>
  <p><strong>zakaz_product:</strong> {{ sponsor.zakaz_product }}</p>
  <p><strong>printitya_zakaz:</strong> {{ sponsor.printitya_zakaz }}</p>
   <p><a href="https://www.google.kz"></a> </p>
  </div>
{% endblock %}